#popup{
    border: 1px solid red;
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
    position: fixed;
    /* 
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); 
    */

    left: calc(50% - 200px);
    top: calc(50% - 150px);
    z-index: 1000;
    display: none;
}


#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: none;
}